/*/////////*/
/* General */
/*/////////*/
* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font: 0.9em "Poppins", sans-serif;
}

/*///////////////*/
/* Game - header */
/*///////////////*/

header {
	height: 6%;
	width: 100%;
	background-color: #2E2E2E;
	border-bottom: 1px solid rgb(131, 126, 126);
}

/*/////////////*/
/* Game - main */
/*/////////////*/

.card {
	background-color: #2E2E2E;
	border-radius: 10px;
	box-shadow: 0 3px 10px 3px rgb(131, 126, 126);
}

main {
	display: flex;
	flex-direction: column;
	height: 94%;
	padding: 2%;
	color: white;
	background-color: black;
}

h2 {
	text-align: center;
	margin: 0;
	color: white;
	user-select: none;
	font-size: 25px;
}

.wrapper-playzone {
	display: flex;
	justify-content: space-between;
	gap: 2%;
	height: 100%;
	width: 100%;
	max-width: 3000px;
}

/*////////////////*/
/* Game - options */
/*////////////////*/

.wrapper-options {
	width: 20%;
	height: 100%;
	padding: 1%;
}

.wrapper-options form {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.section-selector {
	margin-bottom: 10%;
}

.section-selector div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.wrapper-options form h3 {
	font-size: 1.5em;
	margin: 5px 0px;
	user-select: none;
}

.game-selector {
	width: 100%;
	padding: 1% 2%;
	user-select: none;
}

.game-selector img {
	align-self: center;
	height: 100%;
	width: 100%;
	max-width: 214px;
	pointer-events: none;
}

.game-selector div {
	width: 100%;
	border: 2px solid rgb(88, 88, 88);
	border-radius: 10px;
	transform-style: preserve-3d;
	transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.game-selector div::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(150, 150, 150);
	border-radius: inherit;
	box-shadow: 0 0 0 2px rgb(88, 88, 88), 0 0.75em 0 0 rgb(88, 88, 88);
	transform: translate3d(0, 0.75em, -1em);
	transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.game-selector div:active {
	transform: translate(0em, 0.75em);
}

.game-selector div:active::before {
	transform: translate3d(0, 0, -1em);
	box-shadow: 0 0 0 2px rgb(88, 88, 88), 0 0.25em 0 0 rgb(88, 88, 88);
}

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.game-selector [type=radio] + div {
	padding: 5px;
	background: rgb(115, 115, 115);
	cursor: pointer;
}

.game-selector [type=radio]:checked + div {
	transform: translate(0em, 0.75em);
	border: 2px ridge black;
}

.game-selector [type=radio]:checked + div::before {
	width: 0;
	height: 0;
	top: 50%;
	transform: translate3d(0, 0, -1em);
}

.mode-selector {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 37px;
	position: relative;
	cursor: pointer;
	z-index: 1;
}

.mode-selector .circle {
	height: 25px;
	width: 25px;
	position: absolute;
	left: 7px;
	background: #fc2c71;
	box-shadow:
		rgba(0, 0, 0, 0.3) 0px 0 1px 2px,
		rgba(0, 0, 0, 0.8) 0 1px 1px inset,
		#A14647 0 4px 5px inset,
		rgba(0, 0, 0, 0.3) 0 5px 3px inset,
		rgba(255, 255, 255, 0.3) 0 -1px 2px inset,
		#A14647 0 -3px 10px inset;
	border: #fc2c71 solid 1px;
	border-radius: 100%;
	cursor: pointer;
	outline: none;
}

.mode-selector .circle:after {
	position: absolute;
	bottom: -7px;
	left: -7px;
	content: "";
	height: 35px;
	width: 35px;
	background: #fc2c71;
	border: #fc2c71 1px solid;
	border-radius: 100%;
	box-shadow:
	#CA235A 0 4px 5px inset,
	rgba(255, 255, 255, 0.5) 0 12px 5px inset,
	#B01F4F 0 -12px 5px inset,
	rgba(0, 0, 0, 0.8) 0 4px 8px;
	z-index: -2;
}

.mode-selector [type=radio]:checked + .circle {
	border-color: #19040B;
	box-shadow:
		rgba(0,0,0,.8) 0 0 1px 1px,
		rgba(0,0,0,.8) 0 3px 3px inset,
		#D1253B 0 8px 10px inset,
		rgba(0,0,0,.3) 0 20px 5px inset,
		rgba(255,255,255,.3) 0 -2px 3px inset,
		#D1253B 0 -7px 20px inset;
}

.mode-selector span {
	width: 100%;
	text-wrap: wrap;
	text-align: start;
	font-weight: bolder;
	font-size: 1.3em;
	padding-left: 40%;
	user-select: none;
}

.wrapper-submit-button {
	display: flex;
	justify-content: flex-end;
	min-height: 100px;
	overflow: hidden;
}

.wrapper-submit-button button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-self: center;
	width: 100%;
	height: 100px;
	min-height: 100px;
	padding: 0;
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
	user-select: none;
}

.wrapper-submit-button button:focus-visible {
	outline: none;
}

.wrapper-submit-button span {
	font-family: 'Press Start 2P';
	font-size: 1.5em;
	color: white;
	text-shadow: 0 0 5px #ec41bf, 0 0 10px #8606b6, 0 0 15px #fff, 0 0 20px #921982, 0 0 25px #770067;
	animation: fade 3s infinite;
}

.wrapper-submit-button span.active {
	opacity: 0;
	animation: none;
}

@keyframes fade {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.slot {
	height: 70px;
	width: 15px;
	position: relative;
	background: #555;
	border: 2px solid #CCC;
	border-radius: 4px;
}

.slot:before {
	content: '';
	position: absolute;
	top: 3px;
	right: -4px;
	height: 60px;
	width: 0px;
	border: 2px solid #CCC;
	border-radius: 4px;
	z-index: 4;
}

.slot:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 8px;
	height: 60px;
	background: #777;
	border-radius: 4px 0 3px 0;
}

.coin{
	position: absolute;
	left: 0px;
	width: 35px;
	height: 55px;
	border-radius: 100%;
	background: #e79178;
	z-index: 1;
}

.coin:after {
	content: '';
	position: absolute;
	left: 6px;
	width: 35px;
	height: 55px;
	border-radius: 100%;
	background: #cb6d51;
}

.coin.active {
	margin-top: 5px;
	margin-left: 100%;
	transition: margin 3s ease;
}

.coin.fall {
	--x: linear(
		0 0%, 0.1684 2.66%, 0.3165 5.49%,
		0.446 8.52%, 0.5581 11.78%,
		0.6535 15.29%, 0.7341 19.11%,
		0.8011 23.3%, 0.8557 27.93%,
		0.8962 32.68%, 0.9283 38.01%,
		0.9529 44.08%, 0.9711 51.14%,
		0.9833 59.06%, 0.9915 68.74%, 1 100%
		);
	--y: linear(
		0 0%, 0.1835 5.13%, 0.3677 8.87%,
		0.6316 12.49%, 0.857 14.2%,
		0.8748 15.57%, 0.9011 19.24%,
		0.9275 25.6%, 0.9488 33.66%,
		0.9656 42.96%, 0.99 66.79%,
		0.9985 85.95%, 1 100%
	);
	margin-top: 5px;
	margin-left: 100%;
	transition: none;
	animation: dirX 3s 0.2s forwards var(--x), dirY 3s 0.2s forwards var(--y);
}

@keyframes dirX { to { translate: -150px; } }
@keyframes dirY { to { transform: translateY(85px); } }

/*//////////////////////////*/
/* Game - game and controls */
/*//////////////////////////*/

.wrapper-game {
	display: flex;
	flex-direction: column;
	width: 65%;
	height: 100%;
	gap: 4%;
}

.wrapper-canvas {
	height: 100%;
	overflow: hidden;
}

canvas {
	height: 100%;
	width: 100%;
}

canvas:focus {
	outline: none;
}

.wrapper-controls {
	height: 15%;
}

/*/////////////*/
/* Game - chat */
/*/////////////*/

.wrapper-chat {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 20%;
	gap: 4%;
}

.chat-display {
	height: 100%;
}

.chat-input {
	height: 15%;
	width: 100%;
}
