* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

header {
	height: 5%;
	width: 100%;
	background-color: blue;
}

main {
	display: flex;
	flex-direction: column;
	background-color: #e9d734;
	height: 92%;
	padding: 1% 2%;
	gap: 2%;
}

main h2 {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.wrapper-playzone {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 2%;
}

.wrapper-options {
	background-color: green;
	border: 2px solid black;
	border-radius: 25px;
	height: 100%;
	width: 20%;
}

.wrapper-game {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 80%;
	gap: 2%;
}

.wrapper-canvas {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	overflow: hidden;
}

canvas {
	height: 100%;
	width: 100%;
}

canvas:focus {
	outline: none;
}

.wrapper-controls {
	border: 2px solid black;
	border-radius: 25px;
	height: 15%;
	width: 100%;
}

.wrapper-chat {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 20%;
	gap: 2%;
}

.chat-display {
	border: 2px solid black;
	border-radius: 25px;
	height: 100%;
}

.chat-input {
	border: 2px solid black;
	border-radius: 25px;
	height: 15%;
	width: 100%;
}

footer {
	height: 3%;
	width: 100%;
	background-color: blue;
}
