/*/////////*/
/* General */
/*/////////*/
* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font: 0.9em "Poppins", sans-serif;
}

/*///////////////*/
/* Game - header */
/*///////////////*/

header {
	height: 5%;
	width: 100%;
	background-color: #2E2E2E;
	border-bottom: 1px solid rgb(131, 126, 126);;
}

/*/////////////*/
/* Game - main */
/*/////////////*/

.card {
	background-color: #2E2E2E;
	border-radius: 10px;
	box-shadow: 0 3px 10px 3px rgb(131, 126, 126);
}

main {
	display: flex;
	flex-direction: column;
	background-color: black;
	height: 95%;
	padding: 2%;
	gap: 2%;
}

h2 {
	text-align: center;
	margin: 0;
	color: white;
}

.wrapper-playzone {
	display: flex;
	height: 100%;
	gap: 2%;
}

/*////////////////*/
/* Game - options */
/*////////////////*/

.wrapper-options {
	width: 20%;
	height: 100%;
}

/*//////////////////////////*/
/* Game - game and controls */
/*//////////////////////////*/

.wrapper-game {
	display: flex;
	flex-direction: column;
	gap: 2%;
}

.wrapper-canvas {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	overflow: hidden;
}

canvas {
	height: 100%;
	width: 100%;
}

canvas:focus {
	outline: none;
}

.wrapper-controls {
	border: 2px solid black;
	border-radius: 25px;
	height: 15%;
	width: 100%;
}

/*/////////////*/
/* Game - chat */
/*/////////////*/

.wrapper-chat {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 20%;
	gap: 2%;
}

.chat-display {
	border: 2px solid black;
	border-radius: 25px;
	height: 100%;
}

.chat-input {
	border: 2px solid black;
	border-radius: 25px;
	height: 15%;
	width: 100%;
}
