* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

main {
	color: #f2f2f2;
	background-color: black;
	font: 0.9em "Poppins", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}

.wrapper-login {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #2E2E2E;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	padding: 2.5%;
	max-width: 395px;
	max-height: 650px;
	box-shadow: 0 3px 10px 3px rgb(131, 126, 126);
}

.wrapper-title {
	display: flex;
	height: 25%;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.wrapper-title h1 {
	margin: 0;
	padding-bottom: 5%;
	cursor: default;
	user-select: none;
}

.wrapper-connection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85%;
	width: 100%;
	gap: 1%;
}

form {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

input {
	background: #2E2E2E;
	height: 40px;
	padding: 5px;
	border: none;
	border-bottom: 1px solid white;
	margin-bottom: 15px;
	color: white;
	position: relative;
	user-select: none;
}

form button {
	border: 2px solid black;
	border-radius: 20px;
	padding: 5px;
	height: 40px;
	margin-top: 8px;
}

form button:hover {
	background: rgb(200, 200, 200);
}

form button:active {
	margin-top: 10px;
	margin-bottom: -2px;
}

form p {
	align-self: center;
	font-size: 85%;
	margin: 1% 0%;
	cursor: pointer;
	user-select: none;
}

.wrapper-sp-login {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40%;
	gap: 5%;
}

.sp-login {
	height: 40%;
	padding: 1% 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2%;
	border-radius: .375rem;
	margin: 2px 0px;
	user-select: none;
}

.sp-login:active {
	margin: 4px 0px 0px 0px;
}

.sp-login:focus {
	outline: 5px auto -webkit-focus-ring-color;
}

.login-42 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid #e5e5e5;
}

.svg {
	height: 30px;
	width: 50px;
	fill: black;
}

.login-42:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.login-42:hover .svg {
	fill: white;
}

.login-google {
	padding: 0;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.login-google:hover, .login-guest:hover {
	background: rgb(225, 225, 225);
}
