/*/////////*/
/* General */
/*/////////*/

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: black;
	font: 1rem "Inter", sans-serif;
}

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

label:has(> [type=radio]:focus-visible) {
	outline: 1px black auto;
}

button:focus:not(:focus-visible) {
	outline: none;
}

:root {
	--mainColor: #2E2E2E;
	--textColor: #F2F2F2;
}

/*////////////////*/
/* Useful Classes */
/*////////////////*/

.my-card {
	background-color: var(--mainColor);
	border-radius: 0.688rem;
	box-shadow: 0 0.188rem 0.688rem 0.188rem rgb(131, 126, 126);
	overflow: auto;
}

.for-phone {
	display: none;
}

.hideInFade {
	visibility: hidden;
	opacity: 0;
}

.hidden {
	display: none !important;
	opacity: 0 !important;
	visibility: hidden !important;
}

.cross-button {
	position: absolute;
	top: 1%;
	right: 2%;
	background-color: var(--mainColor);
	color: #FF6347;
	border: none;
	cursor: pointer;
}

.wrapper-tab-button {
	display: flex;
	gap: 3px;
	height: 10%;
	min-height: 10%;
	width: 100%;
}

.tab-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: rgb(115, 115, 115);
	color: var(--textColor);
	border: none;
	padding: 0;
	cursor: pointer;
}

.tab-button.active {
	background-color: var(--mainColor);
}

.tab-button:hover {
	background-color: rgb(100, 100, 100);
}

.tab-button.active:hover {
	background-color: var(--mainColor);
}

.tab-tabs {
	display: flex;
	flex-direction: column;
	height: 90%;
	min-height: 90%;
	width: 100%;
	overflow: auto;
	position: relative;
}

.tab-tabs > * {
	padding: 3%;
}

.success {
	text-align: center;
	color: #32CD32;
}

.error {
	text-align: center;
	color: #FF6347;
}

.hover-green:hover, .hover-green:focus-visible {
	color: #32CD32;
}

.hover-purple:hover, .hover-purple:focus-visible {
	color: #BA55D3;
}

.hover-blue:hover, .hover-blue:focus-visible {
	color: #1E90FF;
}

.hover-red:hover, .hover-red:focus-visible {
	color: #FF6347;
}

@keyframes fade {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

/*////////////*/
/* Font sizes */
/*////////////*/

header h1 { font-size: 2vw; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
span { font-size: 1rem; }
td { font-size: 0.9rem; }
textarea { font-size: 0.9rem; }

@media (min-width: 5660px) { html { font-size: 375%; } }
@media (max-width: 5660px) { html { font-size: 250%; } }
@media (max-width: 2880px) { html { font-size: 125%; } }
@media (max-width: 1920px) { html { font-size: 100%; } }
@media (max-width: 1280px) { html { font-size: 90%; } }
@media (max-width: 768px) { html { font-size: 85%; } }
@media (max-width: 480px) { html { font-size: 60%; } }

/*///////////////*/
/* Please rotate */
/*///////////////*/

.please-rotate {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--mainColor);
	color: var(--textColor);
	z-index: 2;
}

.please-rotate div {
	height: 50px;
	width: 100px;
	border: 3px solid white;
	border-radius: 0.688rem;
	animation: rotate 1.5s ease-in-out infinite alternate;
	margin-bottom: 40px;
}

.please-rotate p {
	width: 100%;
	padding: 0% 5%;
	text-align: center;
	text-wrap: wrap;
	word-break: break-all;
}

@keyframes rotate {
	0% { transform: rotate(0deg) }
	50% { transform: rotate(-90deg) }
	100% { transform: rotate(-90deg) }
}

/*////////////*/
/* Login Page */
/*////////////*/

.login-page {
	background-color: black;
	color: var(--textColor);
}

.login-page form input, .login-page form input:focus {
	color: var(--textColor);
	background: var(--mainColor);
	transition: all 0.5s ease-out, background 0s;
	box-shadow: none;
}

.login-page form button.position-absolute {
	background-color: var(--mainColor);
	color: var(--textColor);
	right: 3%;
	top: 15%;
}

.login-page form button {
	border-radius: 20px;
	transition: margin 0.7s ease-out, background 0s;
	z-index: 1;
}

.login-page form button.forgot-password {
	border-radius: 20px;
	background-color: var(--mainColor);
	color: var(--textColor);
}

.login-page form p {
	transition: margin 0.7s ease-out, background 0s;
}

.login-page form p.recovery {
	margin-top: -3.350rem;
}

.login-page form button.recovery {
	margin-top: -0.350rem;
}

.login-page form button.signup, .login-page form button.cancel-signup {
	background-color: var(--mainColor);
	color: var(--textColor);
	border: 1px solid var(--textColor);
	transition: all 0.3s ease-out, background 0s;
}

.login-page form button.signup.primary {
	background-color: var(--textColor);
	color: var(--mainColor);
	transition: all 0.3s ease-out, background 0s;
}

.login-page .special-login {
	transition: all 0.2s ease-out, background 0s;
}

.login-page .special-login button {
	border: 1px solid #E5E5E5;
	border-radius: 3px;
}

.login-page .svg {
	height: 2rem;
	width: 3.125rem;
	fill: black;
}

.login-page .login-42:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--textColor);
}

.login-page .login-42:hover .svg {
	fill: var(--textColor);
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
	main.login-page > div {
		padding: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

/*///////////////*/
/* Game - header */
/*///////////////*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0% 2%;
	height: 6%;
	width: 100%;
	color: var(--textColor);
	background-color: var(--mainColor);
	border-bottom: 1px solid rgb(131, 126, 126);
}

header h1 {
	margin: 0;
	cursor: default;
	user-select: none;
}

header nav {
	width: 100%;
	height: 100%;
	padding: 0 0.5%;
}

header nav ul {
	display: flex;
	justify-content: flex-end;
	gap: 5%;
	height: 100%;
	padding: 0 1%;
	margin: 0;
	list-style-type: none;
}

nav ul li button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--mainColor);
	color: var(--textColor);
	border: none;
	cursor: pointer;
}

nav ul .nav-user img {
	height: 100%;
}

nav span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}

/*/////////////*/
/* Game - main */
/*/////////////*/

main.game {
	display: flex;
	flex-direction: column;
	height: 94%;
	padding: 2%;
	color: var(--textColor);
	background-color: black;
	position: relative;
}

h2 {
	height: 5%;
	min-height: 5%;
	text-align: center;
	margin: 0 0 10px 0;
	color: var(--textColor);
	user-select: none;
	transition: opacity 0.5s;
}

.wrapper-sections {
	display: flex;
	gap: 2%;
	height: 93%;
	width: 100%;
}

/*///////////////////////////*/
/* Game - Game selector Form */
/*///////////////////////////*/

.wrapper-left-section {
	width: 20%;
	padding: 1% 0.5%;
	overflow: hidden;
}

.wrapper-left-section form {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 100%;
	gap: 5%;
	overflow: auto;
}

.wrapper-left-section form h3 {
	margin: 5% 0;
	user-select: none;
}

.wrapper-selectors {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 100%;
	overflow: auto;
}

.wrapper-game-selectors, .wrapper-game-selector {
	display: flex;
	flex-direction: column;
	gap: 6%;
	height: 100%;
}

.game-selector {
	display: flex;
	height: 35%;
	padding: 1% 2%;
	user-select: none;
}

.game-selector img {
	align-self: center;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.game-selector span {
	display: inline-block;
	width: 100%;
	border: 2px solid rgb(88, 88, 88);
	border-radius: 0.688rem;
	transform-style: preserve-3d;
	transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.game-selector span::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(150, 150, 150);
	border-radius: inherit;
	box-shadow: 0 0 0 2px rgb(88, 88, 88), 0 7px 0 0 rgb(88, 88, 88);
	transform: translate3d(0, 10%, -1em);
	transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.game-selector span:active {
	transform: translate(0em, 0.75em);
}

.game-selector span:active::before {
	transform: translate3d(0, 0, -1em);
	box-shadow: 0 0 0 2px rgb(88, 88, 88), 0 0.25em 0 0 rgb(88, 88, 88);
}

.game-selector [type=radio] + span {
	height: 100%;
	padding: 3px 5px;
	background: rgb(115, 115, 115);
	cursor: pointer;
}

.game-selector [type=radio]:hover + span {
	background-color: rgb(100, 100, 100);
}

.game-selector [type=radio]:checked + span {
	transform: translate(0em, 0.75em);
	border: 2px ridge black;
}

.game-selector [type=radio]:checked + span:hover {
	background: rgb(115, 115, 115);
}

.game-selector [type=radio]:checked + span::before {
	width: 0;
	height: 0;
	top: 50%;
	transform: translate3d(0, 0, -1em);
}

.wrapper-mode-selectors {
	height: 100%;
}

.wrapper-mode-selector {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 70%;
}

.mode-selector {
	display: flex;
	align-items: center;
	width: 98%;
	height: 15%;
	margin-top: 5px;
	position: relative;
	cursor: pointer;
}

.wrapper-mode-selector .wrapper-circle {
	display: inline-block;
	aspect-ratio: 1 / 1;
	height: 100%;
	width: auto;
	padding: 0;
}

.wrapper-mode-selector .base-circle {
	display: inline-block;
	height: 100%;
	width: 100%;
	background: #fc2c71;
	border: black 1px solid;
	border-radius: 100%;
	box-shadow:
		#CA235A 0 4px 5px inset,
		rgba(255, 255, 255, 0.5) 0 12px 5px inset,
		#B01F4F 0 -12px 5px inset,
		rgba(0, 0, 0, 0.8) 0 4px 8px;
	position: relative;
}

.wrapper-mode-selector .top-circle {
	position: absolute;
	top: 17%;
	left: 17%;
	display: inline-block;
	aspect-ratio: 1 / 1;
	height: 66%;
	width: auto;
	padding: 0;
	background: #fc2c71;
	box-shadow:
		rgba(0, 0, 0, 0.8) 0 0 1px 1px,
		rgba(0, 0, 0, 0.8) 0 3px 3px inset,
		#f5213d 0 8px 10px inset,
		rgba(0, 0, 0, 0.3) 0 20px 5px inset,
		rgba(255,255,255,.3) 0 -2px 3px inset,
		#e9233e 0 -7px 20px inset;
	border: #fc2c71 solid 1px;
	border-radius: 100%;
	cursor: pointer;
}

.wrapper-mode-selector [type=radio]:hover ~ .wrapper-circle .base-circle .top-circle {
	box-shadow:
		rgba(0, 0, 0, 0.3) 0px 0 1px 2px,
		rgba(0, 0, 0, 0.8) 0 1px 1px inset,
		#A14647 0 1px 2px inset,
		rgba(0, 0, 0, 0.3) 0 5px 3px inset,
		rgba(255, 255, 255, 0.3) 0 -1px 2px inset,
		#A14647 0 -3px 3px inset;
}

.wrapper-mode-selector [type=radio]:checked ~ .wrapper-circle .base-circle .top-circle {
	border-color: #19040B;
	box-shadow:
		rgba(0, 0, 0, 0.8) 0 0 1px 1px,
		rgba(0, 0, 0, 0.8) 0 3px 3px inset,
		#D1253B 0 8px 10px inset,
		rgba(0, 0, 0, 0.3) 0 20px 5px inset,
		rgba(255,255,255,.3) 0 -2px 3px inset,
		#D1253B 0 -7px 20px inset;
}

.wrapper-mode-selector [type=radio]:disabled ~ .wrapper-circle .base-circle .top-circle {
	background: gray;
	box-shadow:
		rgba(0, 0, 0, 0.3) 0px 0 1px 2px,
		rgba(0, 0, 0, 0.8) 0 1px 1px inset,
		rgb(145, 145, 145) 0 4px 5px inset,
		rgba(0, 0, 0, 0.3) 0 5px 3px inset,
		rgba(255, 255, 255, 0.3) 0 -1px 2px inset,
		rgb(145, 145, 145) -3px 10px inset;
	border-color: rgb(145, 145, 145);
}

.wrapper-mode-selector [type=radio]:disabled ~ .wrapper-circle .base-circle {
	background: rgb(145, 145, 145);
	box-shadow:
		rgba(0, 0, 0, 0.8) 0 1px 1px inset,
		#726c6c 0 4px 5px inset,
		rgba(0, 0, 0, 0.3) 0 5px 3px inset,
		rgba(255, 255, 255, 0.3) 0 -1px 2px inset,
		#8d8484 0 -3px 10px inset;
	border-color: black;
}

.wrapper-mode-selector .mode-text {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	padding-left: 10%;
	font-weight: 600;
	text-wrap: wrap;
	text-align: start;
	user-select: none;
}

.wrapper-mode-selector [type=radio]:disabled + .top-circle + span {
	color: rgb(100, 100, 100);
}

.wrapper-submit-button {
	display: flex;
	justify-content: flex-end;
	height: 12.5%;
	overflow: hidden;
}

.wrapper-submit-button button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	align-self: center;
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
	user-select: none;
}

.wrapper-submit-button button:focus-visible {
	outline: 5px auto var(--textColor);
}

.wrapper-submit-button .coin-text {
	width: 100%;
	text-align: center;
	font-size: calc(0.5rem + 1vh);
	font-family: "Press Start 2P", sans-serif;
	color: var(--textColor);
	text-shadow:
		0 0 5px #ec41bf, 0 0 10px #8606b6,
		0 0 15px #fff, 0 0 20px #921982,
		0 0 25px #770067;
	animation: fade 3s infinite;
}

.wrapper-submit-button .coin-text.active {
	opacity: 0;
	animation: none;
}

.wrapper-slot {
	display: flex;
	align-items: center;
	height: 75%;
	width: 5.712%;
}

.slot {
	height: 100%;
	width: 100%;
	background: #555;
	border: 2px solid #CCC;
	border-radius: 4px;
	position: relative;
}

.slot:before {
	content: '';
	position: absolute;
	right: -4px;
	width: 4px;
	height: 100%;
	background-color: #CCC;
	z-index: 1;
}

.slot:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 95%;
	width: 65.8%;
	background: #777;
	border-radius: 5px 0 3px 0;
}

.coin{
	position: absolute;
	left: 0px;
	width: 13.701%;
	height: 60%;
	border-radius: 100%;
	background: #e79178;
}

.coin:after {
	content: '';
	position: absolute;
	left: 15%;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: #cb6d51;
}

.coin.active {
	margin-top: 5px;
	margin-left: 100%;
	transition: margin 2s ease;
}

.coin.fall {
	--x: linear(
		0 0%, 0.1684 2.66%, 0.3165 5.49%,
		0.446 8.52%, 0.5581 11.78%,
		0.6535 15.29%, 0.7341 19.11%,
		0.8011 23.3%, 0.8557 27.93%,
		0.8962 32.68%, 0.9283 38.01%,
		0.9529 44.08%, 0.9711 51.14%,
		0.9833 59.06%, 0.9915 68.74%, 1 100%
		);
	--y: linear(
		0 0%, 0.1835 5.13%, 0.3677 8.87%,
		0.6316 12.49%, 0.857 14.2%,
		0.8748 15.57%, 0.9011 19.24%,
		0.9275 25.6%, 0.9488 33.66%,
		0.9656 42.96%, 0.99 66.79%,
		0.9985 85.95%, 1 100%
	);
	margin-left: 100%;
	transition: none;
	animation:
		dirX 3s 0.2s forwards var(--x),
		dirY 3s 0.2s forwards var(--y);
}

@keyframes dirX { to { translate: -150px; } }
@keyframes dirY { to { transform: translateY(85px); } }

/*////////////////////////////*/
/* Game - Tournament overview */
/*////////////////////////////*/

.tournament-overview {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 4.5%;
	height: 100%;
}

.tournament-match {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 33%;
	width: 100%;
	padding: 5% 2%;
}

.tournament-player, .tournament-winner {
	display: block;
	min-height: 17px;
	height: 17px;
	width: 100%;
	text-align: center;
	font-size: 1.6vh;
	font-weight: 700;
	word-wrap: break-word;
}

.tournament-match button {
	height: 25px;
	width: 100%;
	margin-top: 6px;
	border-radius: 20px;
	user-select: none;
	cursor: pointer;
}

.tournament-marker {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	height: 50px;
	max-height: 50px;
	font-size: 2vh;
	font-weight: 900;
	user-select: none;
}

.bar {
	width: 70%;
	height: 0.125rem;
	background-color: var(--textColor);
	border-radius: 10px;
	opacity: 0.8;
}

/*///////////////*/
/* Game - Screen */
/*///////////////*/

.wrapper-screen {
	display: flex;
	flex-direction: column;
	width: 65%;
	height: 100%;
	gap: 4%;
}

.wrapper-screen-all {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 81%;
	overflow: hidden;
	position: relative;
}

.wrapper-screen-all:has(.wrapper-canvas canvas:focus) {
	box-shadow: 0 0.188rem 0.688rem 0.188rem rgb(210, 210, 210);
}

.wrapper-canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

canvas.pong {
	display: block;
	width: 100%;
	height: 100%;
}

.go-button {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1 / 1;
	width: 5%;
	font-size: 1.5vh;
	font-weight: 600;
	border-radius: 100%;
	cursor: pointer;
	z-index: 1;
	position: absolute;
}

.canvas-user-1 {
	position: absolute;
	top: 1%;
	left: 1%;
}

.canvas-user-2 {
	position: absolute;
	top: 1%;
	right: 1%;
}

/*////////////////*/
/* Game - Options */
/*////////////////*/

.wrapper-options {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.wrapper-options .cross-button {
	height: 10%;
	position: absolute;
	top: 0;
	right: 0;
}

.wrapper-options-buttons button {
	width: 48.8%;
}

.wrapper-options-buttons span {
	font-size: 1.55vw;
	margin: 0;
	font-weight: bold;
	user-select: none;
}

.wrapper-options-tabs > * {
	display: none;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow: auto;
}

.wrapper-options-tabs *.active {
	display: flex;
}

.wrapper-options-tabs form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.wrapper-options-forms .options-section {
	margin-bottom: 1rem;
}

.wrapper-options-forms .options-section p {
	font-size: 0.8rem;
	margin-left: 1.8rem;
}

.wrapper-options-forms .options-form .options-div label {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: 1.4rem;
	position: relative;
}

.wrapper-options-forms .options-form .options-div label span {
	width: 35%;
}

.wrapper-options-forms .options-form .options-div label span.translate-txt {
	margin-bottom: 0.2rem;
	width: 100%;
}

.wrapper-options-forms .options-form .options-div label input {
	margin-left: 1.4rem;
}

.wrapper-options-forms .options-form button {
	margin-bottom: 2rem;
}

.wrapper-options-forms .options-wrapper-lang,
.wrapper-options-forms .options-wrapper-2fa {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 0;
	padding-left: 1rem;
}

.wrapper-options-forms .lang-label {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	padding: 0.2rem 0.4rem;
	border: 2px solid var(--mainColor);
	border-radius: 23px;
	cursor: pointer;
}

.wrapper-options-forms .lang-label:has([type=radio]:checked) {
	border: 2px solid var(--textColor);
}

.wrapper-options-forms .options-wrapper-connection {
	display: flex;
	flex-direction: column;
}

.wrapper-options-forms .options-wrapper-connection label {
	margin-bottom: 1rem;
}

.wrapper-options-forms .options-wrapper-password span.translate-txt {
	margin-left: 1.4rem;
	margin-bottom: 0.2rem;
}

.options-wrapper-password .show-password {
	position: absolute;
    right: -2.5rem;
    height: 100%;
    width: 10%;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
}

.wrapper-options-forms .options-wrapper-2fa [type=radio] {
	position: unset;
	width: auto;
	height: auto;
	opacity: 1;
}

.wrapper-options-forms .twofa-set-div {
	display: flex;
	flex-direction: column;
}

.wrapper-options-forms .twofa-set-div div {
	width: 100%;
	padding-left: 1.4rem;
	margin-bottom: 0.5rem;
}

.wrapper-options-forms .twofa-set-div input {
	width: 45%;
	padding: 2px;
	margin-left: 1.4rem;
	margin-bottom: 0.5rem;
	border: 2px solid white;
}

.wrapper-options-forms .twofa-set-div button {
	width: 15%;
	padding: 2px 0;
	margin: 0;
	border-radius: 0;
}

.wrapper-options-forms button {
	align-self: center;
	width: 75%;
	padding: 0.3rem 0;
	border-radius: 20px;
}

.wrapper-options-tabs tbody {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.wrapper-options-tabs tbody td {
	display: flex;
	height: auto;
	width: 100%;
	padding: 0;
	margin-bottom: 0.625rem;
	text-wrap: wrap;
	word-break: break-all;
}

.blocked-card {
	display: flex;
	gap: 3%;
	width: 100%;
}

.blocked-card .blocked-user-avatar {
	height: 4rem;
	width: 4rem;
	display: flex;
}

.blocked-card .blocked-user {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blocked-card .blocked-user > span {
	word-break: break-all;
	font-size: 1.3rem;
	font-weight: 600;
}

/*////////////////////////*/
/* Game - Tournament form */
/*////////////////////////*/

.tournament-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 3%;
	width: 100%;
	height: 100%;
}

.tournament-form span {
	user-select: none;
}

.tournament-form .tournament-form-back {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	width: 2rem;
	position: absolute;
	top: 45%;
	left: 15%;
	background-color: var(--mainColor);
	color: var(--textColor);
	font-size: 2rem;
	border: none;
	cursor: pointer;
}

.tournament-form button {
	height: 2rem;
	border-radius: 20px;
	user-select: none;
	cursor: pointer;
}

.tournament-wrapper-inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5%;
	height: 40%;
}

.tournament-wrapper-inputs input {
	height: 40px;
	padding: 5px;
	color: var(--textColor);
	background: var(--mainColor);
	border: none;
	border-bottom: 1px solid var(--textColor);
	margin-bottom: 5px;
	opacity: 1;
}

/*////////////////////*/
/* Game - Decorations */
/*////////////////////*/

.wrapper-bottom-section {
	display: flex;
	height: 15%;
}

.wrapper-controls-svg {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 11%;
}

.wrapper-player-controls {
	display: flex;
	justify-content: center;
	align-items: end;
	gap: 25px;
	width: 50%;
	padding: 1% 2%;
	position: relative;
	user-select: none;
}

.wrapper-player-controls.solo {
	width: 100%;
}

.wrapper-player-controls .playername {
	position: absolute;
	bottom: 1%;
	margin: 0;
	padding: 0;
	font-weight: 700;
}

.playername-left {
	left: 2%;
}

.playername-right {
	right: 2%;
}

.stick {
	height: 100%;
	width: 151%;
}

.rotate {
	width: 100%;
}

.wrapper-controls-keys {
	width: 153%;
	height: 100%;
	position: absolute;
	left: -23%;
	display: none;
}

.key {
	position: absolute;
	bottom: 10%;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--textColor);
	color: var(--mainColor);
	font-weight: 800;
	border-radius: 0.3em;
	box-shadow: 0 0.2em 0 0.05em #9b9595;
	display: none;
}

.key-top {
	height: 33%;
	width: 33%;
	top: 0;
	left: 33%;
}

.key-left {
	height: 33%;
	width: 33%;
	top: 33%;
	left: 0;
}

.key-right {
	height: 33%;
	width: 33%;
	top: 33%;
	left: 66%;
}

.key-bottom {
	height: 33%;
	width: 33%;
	top: 66%;
	left: 33%;
}

.wrapper-bottom-section:hover .stick, .wrapper-bottom-section:hover .rotate,
.wrapper-bottom-section-hover .stick, .wrapper-bottom-section-hover .rotate {
	opacity: 0.3;
}

.wrapper-bottom-section:hover .key, .wrapper-bottom-section:hover .wrapper-controls-keys,
.wrapper-bottom-section-hover .key, .wrapper-bottom-section-hover .wrapper-controls-keys {
	display: flex;
	opacity: 1;
}

.wrapper-player-controls.solo .stick {
	width: 70%;
}

.wrapper-player-controls.solo .rotate {
	width: 40%;
}

.wrapper-player-controls.solo .wrapper-controls-keys {
	width: 100%;
	left: 0%;
}

.wrapper-player-controls.solo .rotate + .key {
	width: 33%;
	height: 111%;
}

/*/////////////*/
/* Game - Tabs */
/*/////////////*/

.wrapper-right-section {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 20%;
	gap: 4%;
}

.wrapper-tabs {
	display: flex;
	flex-direction: column;
	height: 81%;
}

.wrapper-tabs-buttons span {
	font-size: 1.55vw;
	margin: 0;
	font-weight: bold;
	user-select: none;
}

.wrapper-tabs-tables table {
	display: none;
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow: auto;
}

.wrapper-tabs-tables table.active {
	display: flex;
}

.wrapper-tabs-tables table tbody {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.wrapper-tabs-tables table img {
	object-fit: contain;
}

.wrapper-tabs-tables table button {
	background-color: var(--mainColor);
	color: var(--textColor);
	padding: 0;
	border: none;
	cursor: pointer;
}

.wrapper-tabs-tables table tr {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.wrapper-tabs-tables table td {
	display: flex;
	flex-direction: column;
	gap: 3%;
	height: auto;
	width: 100%;
	padding: 0;
	margin-bottom: 0.625rem;
	text-wrap: wrap;
	word-break: break-all;
}

/*///////////////////*/
/* Game - Tab - Chat */
/*///////////////////*/

.tab-tabs .fa-lock {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: 10vw;
	z-index: 1;
}

.tab-tabs .tab-chat-lock {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 94%;
	width: 94%;
}

.tab-tabs .tab-chat-lock p {
	width: 100%;
	padding: 0 10%;
	text-align: center;
	text-wrap: pretty;
}

.tab-chat .chat-message {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.tab-chat .chat-message .chat-user-avatar {
	height: 1.5rem;
	width: 1.5rem;
	display: flex;
	align-self: flex-start;
}

.tab-chat .chat-message p {
	margin: 0;
	width: 100%;
}

.tab-chat .chat-announcement {
	margin: 0;
	width: 100%;
	color: #FFD700;
}

.tab-chat .chat-message span {
	font-weight: 600;
}

.tab-chat .chat-options {
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
	margin-top: 0.3rem;
}

.tab-chat .chat-options button span, .tab-chat .chat-options button i {
	font-size: 0.8rem;
}

.tab-chat .chat-options .fa-circle-dot {
	font-size: 0.4rem;
	margin-top: 0.1rem;
}

.tab-chat td:hover .chat-options, .tab-chat td:focus .chat-options, .tab-chat td:focus-within .chat-options {
	display: flex;
}

/*//////////////////////*/
/* Game - Tab - Friends */
/*//////////////////////*/

.tab-friends .friend-card {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	width: 100%;
}

.tab-friends .friend-card .friend-user-avatar {
	height: 3rem;
	width: 3rem;
	display: flex;
}

.tab-friends .friend-card .friend-user {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tab-friends .friend-card .friend-user div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.tab-friends .friend-card .friend-user div span {
	word-break: break-all;
	font-weight: 600;
}

.tab-friends .friend-card .fa-circle-dot {
	font-size: 0.6rem;
}

.tab-friends .friend-card .online {
	color: #32CD32;
}

.tab-friends .friend-card .offline {
	color: #FF6347;
}

.tab-friends .friend-card .friend-options {
	display: flex;
	gap: 0.7rem;
	margin-top: 0.5rem;
	font-size: 0.8rem;
}

/*//////////////////////*/
/* Game - Tab - History */
/*//////////////////////*/

.wrapper-history {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.wrapper-history h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10%;
	height: 10%;
	max-height: 10%;
	margin: 0;
}

.tab-history tbody {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.tab-history tr {
	display: flex;
	width: 100%;
}

.tab-history td {
	display: flex;
	height: auto;
	width: 100%;
	padding: 0;
	margin-bottom: 0.625rem;
	text-wrap: wrap;
	word-break: break-all;
}

.history-card {
	display: flex;
	align-items: center;
	height: auto;
	width: 100%;
	padding: 3%;
	position: relative;
}

.history-card-win {
	background-color: green;
}

.history-card-lose {
	background-color: rgb(121, 25, 25);
}

.history-card-game {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 2.5rem;
	height: auto;
	width: 30%;
}

.history-card-pong {
	background-image: url("/svg/pong.svg");
}

.history-card-tetris {
	background-image: url("/svg/tetris.svg");
}

.history-card-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	height: 100%;
	width: 70%;
}

.history-card-text span {
	font-size: 1rem;
	font-weight: 600;
	width: 50%;
	margin: 0.3rem 0;
}

.history-card-text .bar {
	width: 95%;
}

.history-card-date {
	position: absolute;
	bottom: 1%;
	left: 1%;
	font-size: 0.7em;
}

/*///////////////*/
/* Game - Inputs */
/*///////////////*/

.wrapper-inputs {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: center;
	height: 15%;
	min-height: 15%;
	max-height: 15%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.wrapper-inputs div {
	display: none;
	height: 100%;
	min-height: 100%;
	width: 100%;
}

.wrapper-inputs div.active {
	display: flex;
}

.wrapper-inputs textarea {
	height: 100%;
	width: 100%;
	padding: 0.9rem 1rem;
	background: var(--mainColor);
	color: var(--textColor);
	word-break: break-all;
	border: none;
	resize: none;
	outline: none;
}

.wrapper-inputs i {
	position: absolute;
	top: 0.8rem;
	left: 0;
	font-size: 1.4rem;
	animation: fade 3s infinite;
}

.wrapper-inputs .fa-plus {
	top: 1.1rem;
	left: 0;
	font-size: 0.8rem;
	animation: none;
}

/*//////////////////////*/
/* Media Queries - Game */
/*//////////////////////*/

/* Small Laptops */
@media only screen and (max-width: 1280px) {
	h2 {
		font-size: 1.3rem;
	}
}

/* Tablets and Phones */
@media only screen and (max-width: 1023px) and (orientation: portrait) {
	.please-rotate {
		display: flex;
		position: absolute;
	}
	header, main {
		display: none;
	}
}

/* Tablets and Phones */
@media only screen and (max-width: 1023px) and (orientation: landscape) {
	/*/////////*/
	/* General */
	/*/////////*/
	body {
		position: fixed;
	}
	/*////////////////*/
	/* Useful Classes */
	/*////////////////*/
	.my-card {
		border-radius: 0;
		box-shadow: none;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.for-phone {
		display: block;
	}
	.zindex {
		display: none;
	}
	.cross-button {
		display: none;
	}
	/*//////*/
	/* Hide */
	/*//////*/
	header h1,
	nav span,
	.nav-user i,
	h2,
	.wrapper-bottom-section,
	.wrapper-tabs-buttons {
		display: none;
	}
	/*///////////////*/
	/* Game - header */
	/*///////////////*/
	header {
		position: absolute;
		right: 0;
		padding: 2% 0%;
		height: 100%;
		width: 8%;
		border-bottom: unset;
		border-left: 1px solid rgb(131, 126, 126);
		z-index: 1;
	}
	nav {
		width: 100%;
	}
	nav ul {
		flex-direction: column;
	}
	nav ul li {
		width: 100%;
		height: 100%;
	}
	nav ul li button {
		display: block;
		height: 100%;
		width: 100%;
	}
	nav ul .nav-user img {
		aspect-ratio: 1 / 1;
		height: auto;
		width: 50%;
	}
	/*/////////////*/
	/* Game - main */
	/*/////////////*/
	main.game {
		height: 100%;
		width: 100%;
		padding: 0;
	}
	.wrapper-sections {
		height: 100%;
		width: 100%;
		gap: 0;
		position: relative;
	}
	/*///////////////////////////*/
	/* Game - Game selector Form */
	/*///////////////////////////*/
	.wrapper-left-section {
		min-width: 92%;
		width: 92%;
		padding: 0;
	}
	.wrapper-left-section form {
		align-items: center;
		width: 100%;
		padding: 2% 0%;
	}
	.wrapper-left-section form h3 {
		margin: 10px 0;
	}
	.wrapper-selectors {
		width: 100%;
		height: 87.5%;
		padding: 0% 10%;
		flex-direction: row;
		justify-content: space-between;
	}
	.wrapper-game-selector {
		height: 65%;
		justify-content: space-around;
	}
	.game-selector {
		justify-content: center;
		align-items: center;
	}
	.game-selector div {
		height: 100%;
	}
	.wrapper-mode-selectors {
		display: flex;
		flex-direction: column;
		width: 40%;
	}
	.wrapper-mode-selector {
		justify-content: space-around;
	}
	.wrapper-submit-button {
		width: 80%;
		margin-bottom: 1.5%;
	}
	.wrapper-submit-button button {
		justify-content: center;
		align-items: center;
	}
	.wrapper-slot {
		width: 1.712%;
		height: 80%;
	}
	.slot {
		margin-top: 5px;
	}
	.coin {
		width: 3.701%;
		height: 60%;
	}
	/*///////////////*/
	/* Game - Screen */
	/*///////////////*/
	.wrapper-screen {
		width: 100%;
	}
	.go-button {
		font-size: 2.5vh;
	}
	/*////////////////*/
	/* Game - Options */
	/*////////////////*/
	.wrapper-options {
		width: 92%;
		position: absolute;
		left: 0;
	}
	.wrapper-options-buttons button {
		width: 50%;
	}
	/*/////////////*/
	/* Game - Tabs */
	/*/////////////*/
	.wrapper-right-section {
		width: 92%;
		position: relative;
	}
	.wrapper-tabs-tables {
		min-height: 88%;
		height: 88%;
	}
	.wrapper-tabs-tables table {
		height: 100%;
		width: 92%;
		padding: 2%;
	}
	.wrapper-tabs-tables table button {
		height: 1.5rem;
		width: 3rem;
		background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
		border: 1px solid #afafaf;
	}
	.wrapper-tabs-tables table button i {
		color: var(--mainColor)
	}
	.tab-chat td {
		flex-direction: row;
	}
	.tab-chat .chat-options {
		display: block;
		text-align: start;
	}
	.tab-chat .chat-options button span {
		display: none;
	}
	.tab-chat td:hover .chat-options, .tab-chat td:focus .chat-options, .tab-chat td:focus-within .chat-options {
		display: block;
	}
	.tab-friends .friend-card .friend-options {
		margin-top: 0.2rem;
	}
	.wrapper-history {
		padding: 2%;
	}
	/*///////////////*/
	/* Game - Inputs */
	/*///////////////*/
	.wrapper-inputs {
		top: auto;
		bottom: 0;
		height: 12%;
		min-height: 12%;
		width: 100%;
		min-width: 100%;
	}
	.wrapper-inputs textarea {
		height: 100%;
		width: 100%;
		padding: 0.4rem 1rem;
		border-top: 1px solid rgb(131, 126, 126);
	}
	.wrapper-inputs i {
		top: 0.5rem;
		left: 0;
		font-size: 1rem;
		animation: fade 3s infinite;
		z-index: 2;
	}
	.wrapper-inputs .fa-plus {
		top: 0.5rem;
		left: 0;
		font-size: 1rem;
		animation: fade 3s infinite;
		z-index: 2;
	}
}

@media only screen and (max-height: 320px) and (orientation: landscape) {
	/*///////////////////////////*/
	/* Game - Game selector Form */
	/*///////////////////////////*/
	.wrapper-left-section form h3 {
		margin: 0 0 3px 0;
	}
	.wrapper-mode-selector .mode-text {
		font-size: 6vh;
	}
	.wrapper-mode-selector .base-circle {
		box-shadow:
			#CA235A 0 4px 5px inset,
			rgba(255, 255, 255, 0.5) 0 12px 5px inset,
			#B01F4F 0 -12px 5px inset,
			rgba(0, 0, 0, 0.8) 0 1px 2px;
	}
	.wrapper-mode-selector .top-circle {
		box-shadow:
			rgba(0, 0, 0, 0.8) 0 0 1px 1px,
			rgba(0, 0, 0, 0.8) 0 3px 3px inset,
			#f5213d 0 8px 10px inset,
			rgba(0, 0, 0, 0.3) 0 10px 2px inset,
			rgba(255,255,255,.3) 0 -2px 3px inset,
			#e9233e 0 -7px 20px inset;
	}
	.wrapper-submit-button span {
		text-shadow:
			0 0 2px #ec41bf,
			0 0 5px #8606b6,
			0 0 7px #fff,
			0 0 10px #921982,
			0 0 12px #770067;
	}
	.wrapper-slot {
		width: 1.2%;
	}
	.slot {
		margin-top: 0;
		border: 1px solid #CCC;
	}
	.coin {
		margin-bottom: 5px;
	}
	.go-button {
		font-size: 2.5vh;
	}
	/*////////////////////////*/
	/* Game - Tournament form */
	/*////////////////////////*/
	.tournament-form {
		justify-content: space-between;
		width: 80%;
		height: 90%;
	}
	.tournament-form span {
		font-size: 100%;
		text-align: center;
	}
	.tournament-form .tournament-form-back {
		left: 5%
	}
	.tournament-form i {
		font-size: 1.5rem;
		top: calc(50% - 5vh);
	}
	.tournament-wrapper-inputs input {
		height: 20px;
		width: 50%;
	}
	.tournament-form button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20px;
	}
}
